<footer>
  <div>
    <section>
      <header>
        <h1><a href="{{ site.url }}">{{ site.title }}</a></h1>
      </header>
      {% include 'partials/navigation.twig' %}
    </section>
    <section>
      <header>
        <h1>Quick Links</h1>
      </header>
      <ul>
        <li>
          <a href="http://ni4ce.org/" title="NI4CE Repeater System" target="_blank">NI4CE.org</a>
        </li>
        <li>
          <a href="http://wireless2.fcc.gov/UlsApp/UlsSearch/searchLicense.jsp" title="FCC Universal Licensing System" target="_blank">FCC Callsign search</a>
        </li>
        <li>
          <a href="https://ni4ce-stream.com" title="Listen to NI4CE Online" target="_blank">NI4CE Stream</a>
        </li>
      </ul>
    </section>
    <section>
      <header>
        <h1>Contact</h1>
      </header>
      <ul>
        <li>
          <a href="http://ni4ce.org/" title="NI4CE Repeater System">NI4CE.org</a>
        </li>
        <li>
          <a href="http://wireless2.fcc.gov/UlsApp/UlsSearch/searchLicense.jsp" title="FCC Universal Licensing System">FCC Callsign search</a>
        </li>
        <li>
          <a href="https://ni4ce-stream.com" title="Listen to NI4CE Online">NI4CE Stream</a>
        </li>
      </ul>
    </section>
  </div>
  <div>Created by <a href="https://www.km4fpa.com/" title="Kevin in Auburndale">KM4FPA</a> on November 24th, 2016</div>
</footer>
