<section>
  <header>
    <h1>Welcome to the Net</h1>
  </header>
  <div>
    <p>Hello Net Control Stations and <strong>welcome to the EagleNet Online</strong>, a resource to quickly access the <a href="/announcements">announcements</a>, <a href="/schedule">schedule</a>, <a href="/protocol">net protocol</a>, list of <a href="/net-control-stations">net control stations</a>, list of <a href="/arrl-section-officials">ARRL section officials</a>, and <a href="/statistics">net reports</a>.</p>
  </div>
</section>
